/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:webkit-fill-available;
  width:100%;
}
#root{
  height:100%;
  width:100%;
  
} */
html, body, #root,
#root > div {
  font-family: Rockwell;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin:0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
